<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.siv.du">

    <!--push-->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--network-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--call-->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!--image upload-->
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:name="com.siv.du.base.BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Web_view2"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.siv.du.activity.MainActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--        <activity-->
        <!--            android:name=".activity.SplashActivity"-->
        <!--            android:theme="@style/SplashTheme">-->
        <!--        </activity>-->

        <activity
            android:name="com.siv.du.activity.LandingActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="siecbeauty" />
            </intent-filter>
        </activity>
<!--        <activity android:name="com.siv.du.activity.SettingActivity" />-->
        <activity android:name="com.siv.du.activity.PushActivity" />
        <activity android:name="com.siv.du.base.BaseActivity" />
    </application>

</manifest>