<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.web_view2">

    <!--queries>
        <package android:name="kr.co.samsungcard.mpocket" />
        <package android:name="kvp.jjy.MispAndroid320" />
        <package android:name="com.kbcard.cxh.appcard" />
        <package android:name="com.shcard.smartpay" />
        <package android:name="com.hyundaicard.appcard" />
        <package android:name="com.mysmilepay.app" />
        <package android:name="com.ssg.serviceapp.android.egiftcertificate" />
        <package android:name="com.lcacApp" />
        <package android:name="com.lotte.lpay" />
        <package android:name="com.nhnent.payapp" />
        <package android:name="com.wooricard.wpay" />
        <package android:name="nh.smart.nhallonepay" />
        <package android:name="com.hanaskcard.paycla" />
        <package android:name="com.samsung.android.spay" />
        <package android:name="com.kakao.talk" />
        <package android:name="com.kftc.bankpay.android" />
        <package android:name="com.kt.ktauth" />
        <package android:name="com.sktelecom.tauth" />
        <package android:name="com.lguplus.smartotp" />
        <package android:name="com.wooricard.smartapp" />
        <package android:name="com.google.android.gms" />
        <package android:name="kr.co.shiftworks.vguardweb" />
        <package android:name="com.TouchEn.mVaccine.webs" />
        <package android:name="kr.co.hanamembers.hmscustomer" />
        <package android:name="com.ahnlab.v3mobileplus" />
        <package android:name="kr.co.citibank.citimobile" />
    </queries>-->

    <!--network-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--call-->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!--image upload-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Web_view2"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER" />
                <data android:scheme="test"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
        </activity>

        <activity android:name=".activity.SettingActivity">


        </activity>
    </application>

</manifest>